.rotating {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* Chrome, Safari, Edge, Opera password reveal toggle color */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  filter: invert(100%);
}
